@charset "utf-8";

/* =========================

  base

=========================*/
body {
  color: #000000;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  background-color: #F7F7F7;
}
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}
a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:hover {
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}
img {
  width: 100%;
  height: auto;
}
@media screen and (max-width:750px) {
  body {
    font-size: 14px;
    line-height: 1.8em;
    font-weight: 400;
  }
}
/* =========================
  icon
=========================*/
.fa-square-phone {
  margin-right: 14px;
}
.fa-envelope {
  font-size: 25px;
  margin-right: 14px;
  vertical-align: bottom;
}
.icon_entry {
  width: 24px;
  height: 30px;
  background-image: url(../images/icon_entry.svg);
  background-size: cover;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 14px;
}
@media screen and (max-width:750px) {
  .fa-envelope {
    font-size: 22px;
  }
  .icon_entry {
    width: 20px;
    height: 25px;
  }
}
/* =========================
  section
=========================*/
.section__contents {
  margin-bottom: 190px;
}
.section__contents:last-child {
  margin-bottom: 0;
}
.section__contents__inner {
  width: 1600px;
  margin: auto;
}
@media screen and (max-width:1600px) {
  .section__contents__inner {
    width: 90%;
  }
}
@media screen and (max-width:750px) {
  .section__contents {
    margin-bottom: 90px;
  }
}
/* ttl */
.section__ttl {
  display: table;
  margin-bottom: 90px;
  padding-right: 70px;
  border-bottom: 1px solid #000000;
}
.section__ttl h2 {
  width: min-content;
  font-size: 75px;
  line-height: 1.4em;
  display: table-cell;
  vertical-align: middle;
}
.section__ttl .subttl {
  font-size: 16px;
  line-height: 1.4em;
  padding: 20px 0 0 24px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width:950px) {
  .section__ttl h2,
  .section__ttl .subttl {
    display: block;
  }
  .section__ttl .subttl {
    padding: 0 0 18px 0;
  }
}
@media screen and (max-width:750px) {
  .section__ttl {
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }
  .section__ttl h2 {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 1.2em;
  }
  .section__ttl .subttl {
    font-size: 12px;
  }
}

/* =========================

  btn

=========================*/
/* base */
.btn_wrap .btn {
  margin-right: 5%;
}
.btn_wrap .btn:last-child {
  margin-right: 0;
}
.btn {
  text-align: center;
}
.btn a {
  border: 1px solid #FFFFFF;
  display: block;
  padding: 12px 56px;
  border-radius: 100vh;
  background-color: #FFFFFF;
}
.btn a:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
  border-radius: 100vh;
}
.btn.arrow_right {
  position: relative;
}
.btn.arrow_right a {
  padding: 8px 50px 8px 45px;
}
.btn.arrow_right:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 2px #000000;
  border-right: solid 2px #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  margin: auto;
  transform: rotate(45deg);
}
/* basic */
.btn.btn_basic a {
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 100vh;
  background-color: #000000;
}
.btn.btn_basic a:hover {
  background-color: #000000;
  opacity: 0.6;
}
.btn.btn_basic.arrow_right:after {
  border-color: #FFFFFF;
}
/* primary */
.btn.btn_primary a {
  color: #FFFFFF;
  border: 1px solid #000000;
  background-color: #838383;
  border-radius: 100vh;
}
@media screen and (max-width:750px) {
  .btn a {
    padding: 8px 35px;
  }
  .btn_wrap.flex.flex_center {
    display: block;
    margin: 0 0 20px 0;
  }
  .btn_wrap .btn {
    margin: 0 0 20px 0;
  }
  .btn_wrap .btn:last-child {
    margin-bottom: 0;
  }
}

/* =========================

  block

=========================*/

/* ------------------------
  -- txt__img__block
------------------------*/
.txt__img__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt__img__block .txt__area {
  width: 676px;
  text-align: left;
  margin-right: 42px;
}
.txt__img__block .img__area {
  width: 498px;
  height: 309px;
  object-fit: cover;
  object-position: center;
}
.txt__img__block .img__area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
@media screen and (max-width:1200px) {
  .txt__img__block .txt__area {
    width: 60%;
  }
}
@media screen and (max-width:950px) {
  .txt__img__block {
    display: block;
  }
  .txt__img__block .txt__area {
    width: 100%;
  }
  .txt__img__block .img__area {
    width: 100%;
    height: 200px;
    margin-top: 40px;
  }
  .txt__img__block .img__area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ------------------------
  -- point block
------------------------*/
.point__block li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555555;
  margin-bottom: 70px;
  padding-bottom: 70px;
}
.point__block li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.point__block li:nth-child(even) {
  flex-direction: row-reverse;
}
.point__block li:nth-child(odd) .txt__area {
  margin-right: 42px;
}
.point__block li:nth-child(even) .txt__area {
  margin-left: 42px;
}
.point__block li .ttl__area {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.point__block li .ttl__area p.point,
.nostep__block li .ttl__area p.point {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.point__block li .ttl__area p.point .num,
.nostep__block li .ttl__area p.point .num {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin-right: 30px;
}
.point__block li .ttl__area .point_ttl,
.nostep__block li .ttl__area .point_ttl {
  font-size: 28px;
  line-height: 1.4em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}
.point__block li .txt__area .txt {
  text-align: left;
}
.point__block li .img__area {
  position: relative;
  display: flex;
}
.point__block li .img__area:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.point__block li img {
  width: 498px;
  height: 309px;
  object-fit: cover;
  border-radius: 15px;
}
@media screen and (max-width:1000px) {
  .point__block li {
    display: block;
  }
  .point__block li .ttl__area {
    display: block;
    margin: 0 0 25px 0;
  }
  .point__block li .ttl__area .point_ttl,
  .nostep__block li .ttl__area .point_ttl {
    font-size: 22px;
    margin: 12px 0 0;
  }
  .point__block li:nth-child(odd) .txt__area,
  .point__block li:nth-child(even) .txt__area {
    margin: 0 0 30px 0;
  }
  .point__block li img{
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width:950px) {
  .point__block li .ttl__area p.point,
  .nostep__block li .ttl__area p.point {
    font-size: 20px;
    line-height: 1.0;
  }
}@media screen and (max-width:750px) {
  .point__block li {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
}
/* ------------------------
  -- step block / 
     nostep block
------------------------*/
.step__block, .nostep__block {
  width: 100%;
}
.step__block > li, .nostep__block > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  position: relative;
  margin-bottom: 122px;
}
.nostep__block > li {
  margin-bottom: 40px;
}
.step__block > li::after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: solid 3px #000000;
  border-right: solid 3px #000000;
  transform: rotate(135deg);
  position: absolute;
  bottom: -68px;
  left: 0;
  right: 0;
  margin: auto;
}
.step__block > li:last-child, .nostep__block > li:last-child {
  margin-bottom: 0;
}
.step__block > li:last-child::after {
  content: none;
}
.step__block > li .txt__area, .nostep__block > li .txt__area {
  width: 588px;
  margin-right: 20px;
}
.step__block > li .txt__area .ttl__area, .nostep__block > li .txt__area .ttl__area {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 12px;
}
.step__block > li .txt__area .ttl__area p.step, .nostep__block > li .txt__area .ttl__area p.step {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}
.step__block > li .txt__area .ttl__area p.step .num {
  font-size: 1.2em;
  line-height: 1.0;
  margin-left: 6px;
}
.step__block > li .txt__area .ttl__area .step_ttl, .nostep__block > li .txt__area .ttl__area .nostep_ttl {
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 0;
}
.step__block > li .txt__area .txt, .nostep__block > li .txt__area .txt {
  text-align: left;
}
.step__block > li img, .nostep__block > li img {
  width: 660px;
  height: 397px;
  object-fit: cover;
  border-radius: 15px;
}
.step__block > li .btn, .nostep__block > li .btn {
  display: inline-block;
}
@media screen and (max-width:1500px) {
  .step__block > li img, .nostep__block > li img {
    width: 500px;
    height: auto;
  }
}
@media screen and (max-width:1099px) {
  .step__block > li, .nostep__block > li {
    display: block;
    padding: 60px 20px;
  }
  .step__block > li .txt__area, .nostep__block > li .txt__area {
    width: 100%;
    margin: 0;
  }
  .step__block > li img, .nostep__block > li img {
    width: 100%;
    height: auto;
  }
  .step__block > li .img__area, 
  .nostep__block > li .img__area {
    margin-top: 40px;
  }
  .step__block p.text_center {
    text-align: center;
  }
}
@media screen and (max-width:750px) {
  .step__block > li, .nostep__block > li {
    margin-bottom: 100px;
  }
  .step__block > li::after {
    bottom: -60px;
  }
  .step__block > li .txt__area .ttl__area, .nostep__block > li .txt__area .ttl__area { 
    display: block;
  }
  .step__block > li .txt__area .ttl__area .step_ttl, .nostep__block > li .txt__area .ttl__area .nostep_ttl {
    font-size: 18px;
    margin: 12px 0 0;
  }
  .step__block > li .txt__area .ttl__area p.step, .nostep__block > li .txt__area .ttl__area p.step {
    font-size: 30px;
  }
  .step__block > li img {
    height: 150px;
  }
}
/* ------------------------
  -- panel
------------------------*/
.panel {
  display: flex;
  flex-wrap: wrap;
}
.panel li {
  width: 30%;
  text-align: center;
  margin: 0 5% 5% 0;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.panel li:nth-child(3n),
.panel li:last-child {
  margin-right: 0;
}
.panel li p {
  margin-bottom: 0;
}
.panel li a {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
}
.panel li a img {
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.panel li a .panel__ttl_area {
  position: relative;
  display: flex;
  align-items: center;
}
.panel li a .panel__ttl_area .panel__ttl__inner {
  font-size: 20px;
  padding: 42px 70px 42px 18px;
  text-align: left;
}
.panel li a .panel__ttl_area i.panel__arrow {
  font-size: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 18px;
}
.panel.interview li a .panel__ttl_area .panel__ttl__inner {
  font-size: 1.0em;
  padding: 20px;
}
.panel li p.btn {
  width: 190px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 100vh;
  margin: 30px auto 0;
  padding: 10px 20px;
}
@media screen and (max-width:750px) {
  .panel li {
    width: 47.5%;
  }
  .panel li:nth-child(3n) {
    margin-right: 5%;
  }
  .panel li:nth-child(2n),
  .panel li:last-child {
    margin-right: 0;
  }
  .panel li a .panel__ttl_area .panel__ttl__inner {
    font-size: 15px;
    padding: 16px;
    text-align: left;
  }
  .panel li a .panel__ttl_area i.panel__arrow {
    display: none;
  }
  .panel li a img {
    height: 150px;
  }
  .panel.interview li a .panel__ttl_area .panel__ttl__inner {
    width: calc(100% - 20px);
    padding: 20px 10px;
  }
  .panel li p.btn {
    width: calc(100% - 60px);
    line-height: 1.0;
    margin-top: 20px;
    padding: 8px 30px;
  }
}

/* =========================

  dropdown / megamenu

=========================*/
.nav_megamenu_box, .dropdown_box {
  display: none;
}
.nav_megamenu:hover .nav_megamenu_box,
.dropdown:hover .dropdown_box {
  display: block;
  position: absolute;
  animation: appear .3s ease;
  z-index: 99;
}
.dropdown:hover .dropdown_box {
  width: 242px;
  text-align: center;
  padding: 0 15px;
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  margin: auto;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .16);
}
@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.dropdown {
  position: relative;
}
.dropdown li {
  font-size: 16px;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
.dropdown li:last-child {
  border-bottom: none;
}
/* .dropdown li:after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px #E0E0E0;
  border-right: solid 1px #E0E0E0;
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
} */
.dropdown li a {
  color: #000000;
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px 0;
}
.dropdown_box {
  background-color: #FFFFFF;
  border-radius: 15px;
}
.nav_megamenu_box {
  width: calc(100% - 50px);
  left: 0;
  background-color: #CCCCCC;
  padding: 30px;
}
.nav_megamenu:hover .nav_megamenu_box .col3 {
  justify-content: center;
}
.nav_megamenu:hover .nav_megamenu_box .megamenu_item {
  margin-right: 6vw;
}
.nav_megamenu:hover .nav_megamenu_box .megamenu_item:last-child {
  margin-right: 0;
}
.nav_megamenu:hover .nav_megamenu_box .megamenu_item .megamenu_ttl {
  width: 100%;
  line-height: 1.0;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  padding-bottom: 12px;
}
@media screen and (max-width:1200px) {
  .dropdown:hover .dropdown_box {
    width: 206px;
    padding: 0 10px;
  }
  .dropdown li {
    font-size: 15px;
  }
  .dropdown li a {
    padding: 12px 0;
  }
}
/* ------------------------
  table
------------------------*/
dl.border__table {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 40px 54px;
  display: flex;
  flex-wrap: wrap;
}
dl.border__table dt, dl.border__table dd {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
dl.border__table dt {
  width: 30%;
  font-weight: bold;
}
dl.border__table dd {
  width: 70%;
}
.border__list {
  width: 650px;
  margin: auto;
  line-height: 1.5em;
}
.border__list li {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #CCCCCC;
}
@media screen and (max-width:750px) {
  dl.border__table, .border__list {
    width: calc(100% - 60px);
    padding: 30px;
  }
  dl.border__table dt, dl.border__table dd {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

/* ------------------------
  other table
------------------------*/
dl.table {
  width: 650px;
  margin: auto;
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
}
dl.table dt, dl.table dd {
  box-sizing: border-box;
  text-align: left;
  padding:15px;
}
dl.table dt {
  width: 30%;
  font-weight: bold;
}
dl.table dd {
  width: 70%;
}
@media screen and (max-width:750px) {
  dl.table {
    width: 100%;
  }
  dl.table dt, dl.table dd {
    padding-left: 10px;
  }
}

/* ------------------------
  -- accordion
------------------------*/
.accordion-js dl {
  width: 100%;
  margin: 10px auto;
}
.accordion-js .accordion {
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
}
.accordion-js .accordion:last-child {
  margin-bottom: 0;
}
.accordion-js .accordion-title {
  line-height: 1.4em;
  position: relative;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 74px 20px 40px;
}
.accordion-js .accordion-content {
  display: none;
  font-size: 15px;
  padding: 20px 0 20px;
  margin: 0 40px;
  border-top: 1px solid #CCCCCC;
  overflow: hidden;
  cursor: initial;
}
.accordion-js .toggle_btn {
  width: 40px;
  height: 40px;
  right: 0;
}
.accordion-js .accordion-title .toggle_btn::before {
  display: block;
	content: "";
	position: absolute;
	top: 0; 
	right: 40px;
	bottom: 0;
	margin:auto;
	width: 30px;
	height: 3px;
	background-color: #CCCCCC;
	transition: .2s;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
  transition: transform 0.5s;
  border-radius: 100vh;
}
.accordion-js .accordion-title .toggle_btn::after {
  display: block;
	content: "";
	position: absolute;
	top: 0; 
	right: 40px;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 3px; 
	background-color: #CCCCCC;
	transition: .3s;
  border-radius: 100vh;
}
.accordion-js .accordion-title.open .toggle_btn::before{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.accordion-js .accordion-title.open .toggle_btn::after{
	background-color: transparent;
}
.accordion.accordion_none {
  cursor: default;
}
/* col2 */
.accordion-js.accordion_col2 {
  overflow: hidden;
}
.accordion-js.accordion_col2 .accordion {
  width: 42%;
  float: left;
  padding: 3vw;
  margin-right: 2.5vw;
}
.accordion-js.accordion_col2 .accordion:nth-child(2n) {
  margin-right: 0;
}
.accordion-js.accordion_col2 .accordion-title .accordion-title-inner {
  border-bottom: 1px solid #CCCCCC;
  padding: 0 35px 12px 0;
}
.accordion-js.accordion_col2 .accordion-title {
  padding: 0;
}
.accordion-js.accordion_col2 .accordion-title .toggle_btn::before {
	right: 0;
}
.accordion-js.accordion_col2 .accordion-title .toggle_btn::after {
	right: 0;
}
.accordion-js.accordion_col2 .accordion-content {
  font-size: 13px;
  line-height: 2em;
  border: none;
  margin: 0;
}
/* その他ページ調整 */
.nostep__block .accordion-js {
  width: 100%;
}
.nostep__block .accordion-js .accordion{
  border: none;
  background-color: transparent;
}
.nostep__block > li .accordion-js .txt__area {
  width: 100%;
  margin: 0;
}
.nostep__block > li .accordion-js .accordion-title {
  font-weight: normal;
  padding-left: 0;
}
.nostep__block > li .ttl__area.accordion-title {
  width: initial;
}
.nostep__block > li .accordion-js .ttl__area .point_ttl {
  margin-bottom: 0;
}
.nostep__block > li .accordion-js .description__area  {
  cursor: auto;
}
.nostep__block > li .accordion-js .description__area h3 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px #000000;
}
@media screen and (max-width:1099px) {
  #sp-nav .accordion-js .accordion {
    border: none;
    background-color: transparent;
  }
  #sp-nav .accordion-js .accordion-title {
    font-size: 16px;
    color: #FFFFFF;
    padding: 0;
  }
  #sp-nav nav .accordion-js .accordion-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #sp-nav nav .accordion-js .accordion-content ul li {
    border: none;
  }
  #sp-nav nav .accordion-js .accordion-content ul li a {
    width: calc(100% - 30px);
    margin: auto;
    padding: 10px 10px 10px 20px;
  }
}
@media screen and (max-width:1099px) {
  .accordion-js .accordion-title .toggle_btn::before,
  .accordion-js .accordion-title .toggle_btn::after {
    width: 20px;
    right: 20px;
    right: 25px;
  }
  .accordion-js .accordion-content {
    margin: 0 25px;
    padding: 30px 0;
  }
}
@media screen and (max-width:1000px) {
  .accordion-js.accordion_col2 {
    display: block;
  }
  .accordion-js.accordion_col2 .accordion {
    width: calc(100% - 60px);
    margin: 0 0 25px 0;
    float: none;
  }
}
@media screen and (max-width:750px) {
  .accordion-js .accordion-title {
    font-size: 16px;
    padding: 25px 45px;
  }
  .accordion-js .accordion-content {
    font-size: 14px;
    margin: 0 20px;
  }
  .accordion-js.accordion_col2 .accordion {
    padding: 20px;
  }
  .accordion-js.accordion_col2 .accordion .accordion-content .flex {
    display: block;
  }
  #first_time_faq .accordion .a {
    float: none;
  }
  #first_time_faq .accordion .a_txt {
    font-size: 14px;
  }
  #psychiatry .accordion-js .accordion-title {
    padding: 20px 40px;
  }
  #sp-nav .accordion-js .accordion-content {
    margin: 0;
  }
  #sp-nav .accordion-js .accordion-title {
    font-size: 14px;
  }
  #sp-nav .accordion-js .accordion-title .toggle_btn::before,
  #sp-nav .accordion-js .accordion-title .toggle_btn::after {
    height: 2px;
  }
  .nostep__block > li .accordion-js .description__area h3 {
    font-size: 18px;
  }
}
/* =========================

  nav / KV

=========================*/
.sp_nav {
  display: none;
}
.pc_nav .logo_nav, nav .nav_inner {
  display: flex;
  align-items: center;
}
.pc_nav .logo_nav {
  width: 1600px;
  justify-content: space-between;
  margin: auto;
}
header {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  z-index: 9999;
}
header h1 {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .16));
}
header nav a {
  color: #FFFFFF;
}
header nav .nav_inner li.nav_list {
  margin-right: 50px;
}
header nav .nav_inner li.nav_list:last-child {
  margin-right: 0;
}
header nav .nav_inner li.nav_list > a {
  text-shadow: 0 0 6px rgba(0, 0, 0, .6);
}
header nav .nav_inner > li:last-child {
  margin-right: 0;
}
@media screen and (max-width:1600px) {
  header nav .nav_inner {
    font-size: 16px;
  } 
  header nav .nav_inner li.nav_list {
    margin-right: 20px;
  } 
}
@media screen and (max-width:1099px) {
  .sp_nav {
    display: block;
  }
  .pc_nav .nav {
    display: none;
  }
}
.kv {
  position: relative;
}
.kv .kv-slide_inner {
  position: relative;
}
.kv .slider_fade {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.kv .title {
  width: 46%;
  position: absolute;
  top: 50%;
  left: 8vw;
  transform: translateY(-50%);
  z-index: 11;
  filter: drop-shadow(0px 0px 3px #CCCCCC);
}
.kv .kv_image {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime_fade_in 30s 0s infinite;
  animation: anime_fade_in 30s 0s infinite;
}
.kv .kv_image:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.kv .kv_image:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
@keyframes anime_fade_in {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes anime_fade_in {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
.fixed-header,
#following-header {
  width: 100%;
  background-color: #F7F7F7;
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .1);
}
.fixed-header_inner,
.following-header_inner {
  padding: 20px 0;
}
#following-header nav .nav_inner,
.fixed-header nav .nav_inner {
  font-size: 16px;
}
#following-header .arrow::before,
.fixed-header .arrow::before {
  border-color: #000000;
}
#following-header .logo,
.fixed-header .logo {
  width: 305px;
}
#following-header .nav_list,
.fixed-header .nav_list {
  margin-right: 20px;
}
#following-header .nav_list:last-child,
.fixed-header .nav_list:last-child {
  margin-right: 0;
}
#following-header .logo_nav {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
#following-header {
  top: -120px;
  transition: .5s;
}
#following-header.is-show {
  top: 0;
}
@media screen and (max-width: 1600px){
}
/* hamburger menu */
#sp-nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background: #363535;
  transition: all 0.6s;
  overflow: scroll;
}
#sp-nav.panelactive {
  right: 0;
}
#sp-nav .sp-nav_inner {
  width: 100%;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}
#sp-nav nav ul li {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  border-bottom: 1px solid #464646;
  position: relative;
}
#sp-nav nav ul li:first-child {
  border-top: 1px solid #464646;
}
#sp-nav .sp-nav_inner nav a,
#sp-nav .accordion-js .accordion-title {
  width: calc(100% - 20px);
  display: block;
  padding: 20px 10px;
}
#sp-nav .sp-nav_inner nav a {
  color: #FFFFFF;
  position: relative;
}
#sp-nav .sp-nav_inner nav a::after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px #CCCCCC;
  border-right: solid 1px #CCCCCC;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  margin: auto;
  transform: rotate(45deg);
}
#sp-nav .accordion-js .accordion-content {
  border-color: #464646;
  background-color: #2C2C2C;
}
.openbtn {
  position: absolute;
  z-index: 99999;
  width: 55px;
  height: 55px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  cursor: pointer;
}
.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #FFFFFF;
  width: 50%;
}
.openbtn span:nth-of-type(1) {
  top: 17px;
}
.openbtn span:nth-of-type(2) {
  top: 26px;
}
.openbtn span:nth-of-type(3) {
  top: 35px;
}
.openbtn.active span:nth-of-type(1) {
  top: 20px;
  left: 14px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
  top: 32px;
  left: 14px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}
@media screen and (max-width: 1099px) {
  #sp-nav .sp-nav_inner .nav_inner {
    display: block;
  }
  .sp_nav_inner .logo {
    width: 54%;
  }
  .fixed-header.pc_nav .logo {
    width: 200px;
  }
  .fixed-header nav .nav_inner > li {
    margin-right: 0;
  }
  .openbtn {
    z-index: 99999;
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: fixed;
    top: 8px;
    bottom: unset;
    right: 8px;
    background-color: #000000;
    border-radius: 100vh;
  }
  #sp-nav .sp-nav_inner .nav_inner {
    padding-bottom: 60px;
  }
  #sp-nav .access {
    padding: 20px 10px;
    text-align: center;
    margin: 0 20px 20px;
  }
  #sp-nav .teldetail {
    margin: 0 20px 60px;
  }
  #sp-nav .teldetail .btn_tel {
    padding: 12px 38px;
  }
  #sp-nav .navlogo {
    width: 200px;
    margin: 0 auto 80px;
  }
}
@media screen and (max-width: 750px) {
  .sp_nav_inner .logo {
    width: 65%;
  }
  #sp-nav nav ul li {
    font-size: 14px;
  }
  #sp-nav .sp-nav_inner nav a,
  #sp-nav .accordion-js .accordion-title {
    width: calc(100% - 20px);
    display: block;
    padding: 20px 10px;
  }
  #sp-nav .access {
    width: -webkit-fill-available;
    margin: 0 0 20px 0;
  }
  #sp-nav .navlogo {
    width: 200px;
    margin: 0 auto 120px;
  }
}
@media screen and (max-width:1600px) {
  .pc_nav .logo_nav,
  #following-header .logo_nav {
    width: 90%;
  }
  .pc_nav .logo {
    width: 30%;
  }
}
@media screen and (max-width:1099px) { 
  #following-header {
    display: none;
  }
  header {
    margin-top: 20px;
  }
  .pc_nav .logo {
    width: 300px;
  }
  .kv .title {
    width: 82%;
  }
}
@media screen and (max-width:750px) { 
  .pc_nav .logo {
    width: 70%;
  }
}

/* =========================

  top_news

=========================*/
#top_news {
  margin-top: 170px;
  overflow: hidden;
}
#top_news .section__ttl {
  float: left;
}
#top_news .news_item_wrap {
  width: 950px;
  float: right;
}
.news_item_wrap {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 40px 54px;
}
.news_item_wrap .btn_wrap {
  margin-top: 30px;
}
.news_item_wrap .news_item {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.news_item_wrap .news_item .news_item_inner a {
  display: flex;
  align-items:flex-start;
}
.news_item_wrap .news_item .news_item_inner a dd {
  margin-right: 10%;
}
@media screen and (max-width:1200px) {
  #top_news .news_item_wrap {
    width: calc(100% - 60px);
    float: unset;
    padding: 30px;
  }
  #top_news .section__ttl {
    float: unset;
  }
}
@media screen and (max-width:750px) {
  #top_news {
    margin-top: 60px;
  }
  .news_item_wrap {
    width: calc(100% - 60px);
    padding: 30px;
  }
  .news_item_wrap .news_item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .news_item_wrap .news_item .news_item_inner a {
    display: block;
  }
  .news_item_wrap .news_item .news_item_inner a dd {
    margin: 0 0 5px 0;
  }
}

/* =========================

  top_our_service

=========================*/
#top_our_service .description {
  text-align: center;
}
#top_our_service .description h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 60px;
}
#top_our_service .description p {
  font-size: 18px;
}
#top_our_service .panel {
  margin-top: 80px;
}
@media screen and (max-width:750px) {
  #top_our_service .description h3 {
    font-size: 28px;
  }
  #top_our_service .description p {
    font-size: 14px;
  }
}
/* =========================

  top_recruit

=========================*/
#top_recruit .txt_img_box {
  position: relative;
}
#top_recruit .txt_img_box .txt_area {
  width: 474px;
  padding: 80px;
  background-color: rgba(255, 255, 255, .45);
  border: 3px solid #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#top_recruit .txt_img_box .txt_area h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 30px;
}
#top_recruit .txt_img_box .txt_area .btn_wrap {
  margin-top: 30px;
}
#top_recruit .txt_img_box .img_area {
  display: flex;
  justify-content: end;
}
#top_recruit .txt_img_box .img_area img {
  width: 964px;
  height: 684px;
  object-fit: cover;
}
@media screen and (max-width:1200px) {
  #top_recruit .txt_img_box .txt_area {
    width: 60%;
    position: unset;
    margin: 0 auto 60px;
    transform: none;
  }
  #top_recruit .txt_img_box .img_area img {
    width: 100%;
  }
}
@media screen and (max-width:750px) {
  #top_recruit .txt_img_box .txt_area {
    width: calc(100% - 86px);
    margin-bottom: 30px;
    padding: 40px;
  }
  #top_recruit .txt_img_box .txt_area h3 {
    font-size: 28px;
  }
  #top_recruit .txt_img_box .img_area img {
    height: auto;
  }
}
/* =========================

  top_contact

=========================*/
#top_contact {
  text-align: center;
}
#top_contact .section__contents__inner {
  color: #FFFFFF;
  background-image: url(../images/company_img01.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 75px 0;
  position: relative;
}
#top_contact .section__contents__inner:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
#top_contact .section__ttl {
  display: inline-block;
  border-color: #FFFFFF;
  margin-bottom: 60px;
  padding: 0 70px;
  position: relative;
  z-index: 1;
}
#top_contact .btn_wrap {
  position: relative;
  z-index: 1;
}
#top_contact .btn a:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: transparent;
  opacity: 1.0;
}
#top_contact .btn.arrow_right:hover:after {
  border-color: #FFFFFF;
}
@media screen and (max-width:750px) {
  #top_contact .section__contents__inner {
    width: calc(90% - 40px);
    padding: 50px 20px;
  }
  #top_contact .section__ttl {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  #top_contact .section__ttl h2 {
    display: inline-block;
  }
}
/* =========================

  fixed_bottom 

=========================*/
.fixed_bottom {
  width: 724px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 15px 0 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.fixed_bottom ul {
  display: flex;
  border-radius: 15px 0 0 0;
}
.fixed_bottom ul li {
  width: 50%;
  text-align: center;
  border-right: 1px solid #FFFFFF;
  margin: 10px 0;
}
.fixed_bottom ul li:last-child {
  border: none;
}
.fixed_bottom ul li a {
  color: #FFFFFF;
  padding: 10px 0;
  display: block;
}
@media screen and (max-width:950px) {
  .fixed_bottom {
    width: 500px;
  }
}
@media screen and (max-width:750px) {
  .fixed_bottom {
    width: 100%;
  }
  .fixed_bottom ul li {
    margin: 10px 0;
  }
}
/* =========================

  footer

=========================*/
.footer_inner {
  width: 1560px;
  margin: auto;
  padding: 130px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_inner .detail,
.footer_inner .footer_map {
  width: 47%;
}
.footer_inner .detail {
  margin-right: 6%;
}
.footer_inner .detail .logo {
  width: 480px;
  margin-bottom: 60px;
}
.footer_inner .detail .add {
  margin-bottom: 60px;
}
.tel {
  display: inline-block;
  margin-bottom: 40px;
}
.tel .tel_inner .tel_num {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 600;
}
.tel .tel_inner .time {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.6em;
  text-align: center;
  margin-top: 10px;
  padding-left: 53px;
}
.footer_inner .btn_wrap .btn {
  font-size: 20px;
}
.footer_inner .btn_wrap .btn a {
  padding: 25px 40px;
}
.footer_map iframe {
  border-radius: 15px;
}
footer .footer_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 130px;
}
footer .footer_nav li {
  margin-right: 50px;
}
footer .footer_nav li:last-child {
  margin-right: 0;
}
footer .footer_nav li a {
  color: #FFFFFF;
}
footer .copy {
  text-align: center;
}
@media screen and (max-width:1600px) {
  .footer_inner,
  footer .footer_nav {
    width: 90%;
  }
  .footer_inner .detail .logo {
    width: 90%;
  }
  .footer_map {
    width: 50%;
  }
  .footer_inner .btn_wrap {
    display: block;
  }
  .footer_inner .btn_wrap .btn {
    margin: 0 0 10px 0;
  }
  .footer_map iframe {
    width: 100%;
    height: 600px;
  }
  footer .footer_nav {
    justify-content: left;
    margin: auto;
  }
}
@media screen and (max-width:860px) {
  .footer_inner {
    display: block;
  }
  .footer_inner .detail, .footer_inner .footer_map {
    width: 100%;
  }
  .footer_inner .detail {
    margin: 0 0 60px 0;
  }
  .footer_inner .detail .logo {
    width: 70%;
  } 
}
@media screen and (max-width: 750px) {
  .footer_inner {
    padding: 90px 0 60px;
  }
  .footer_inner .detail .logo {
    width: 80%;
    margin-bottom: 30px;
  }
  .tel .tel_inner .tel_num {
    font-size: 40px;
  }
  .tel .tel_inner .time {
    font-size: 1em;
  }
  .footer_inner .btn_wrap .btn {
    font-size: 16px;
  }
  .footer_inner .btn_wrap .btn a {
    padding: 20px;
  }
  .footer_map iframe {
    height: 300px;
  }
  footer .footer_nav {
    display: block;
    padding: 0 0 60px;
  }
  footer .footer_nav li {
    margin-bottom: 10px;
  }
  footer .footer_nav li:last-child {
    margin-bottom: 0;
  }
}
